/* import bootstrap */
@import url("bootstrap.min.css");
@import url("bootstrap.css");

/* remove browser defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* top background image */
.colornav {
  color: white;
}

.myhead {
  background: url(../assets/backgrounds/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  padding-top: 3vh;
  width: 100%;
}

.imagetext {
  padding-top: 30vh;
  color: white;
}

.mouse {
  padding-top: 31vw;
}

.myproducts {
  background-color: wheat;
}

/* form styling */
form {
  font-size: 1.5vw;
}

.seeproducts {
  height: 20vh;
  padding-top: 7vh;
}

.seeproducts>form {
  display: flex;
}

.mybtn {
  margin-left: 49vw;
  background-color: rgb(97, 33, 22);
  color: white;
  transform: rotateX(3.62758deg) rotateY(-5.2593deg);
}

.cont {
  margin: auto;
}

/* styling about us section */
.aboutus {
  background: url(../assets/backgrounds/about.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 30vh;
  width: 100%;
}

.SALE {
  background: darkgrey;
}

/* media queries */
/* // Extra small devices portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .mouse {
    padding-top: 24vw;
  }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .mybtn {
    margin-left: 20vw;
  }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}